.ec-no-scroll {
  overflow: hidden;
}
.ec-page .v--modal  {

  // margin: em(0, $mfs);

  &-overlay {
    background: rgba(0,0,0, .7);
  }

  &-box {
    // transform: translateX(-50%);
    overflow: visible;
    box-shadow: none;
  }

  &-background-click {
    text-align: center;
    display: block;
    overflow: auto;
  }
}

.ec-modal {
  background-color: #fff;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  align-items: flex-end;
  text-align: center;
  box-sizing: border-box;
  font-style: normal;
  font-size: $mfs;
  padding: em(10px 10px 0 10px, $mfs);

  @media #{$d1439} {
    font-size: 14px;
  }

  & .ec-modal__close {
    position: absolute;

    @include em((
      right: -25px,
      top: -35px
    ), $mfs);
  }

  &_size {

    &_m {

      @include em((
        width: 820px,
        min-height: 440px,
        padding-top: 305px
      ), $mfs);
    }
  }

  &_safe {
    background-image: url(#{$imgDir}/modal/bg1.png);
    padding-top: em(340px, $mfs);

    &__in {
      flex-basis: 100%;

      @include em((
        margin-bottom: -25px
      ), $mfs);
    }
  }

  &__title {
    font-size: em(26px, $mfs);
    color: $black;
    font-family: $chalkB;
    margin: em(18px 0, 26px);
  }

  &__txt {
    font-size: em(16px, $mfs);
    color: #434343;
    font-family: $chalkB;
    line-height: 1.5;
    margin: em(12px 0, 16px);
    font-family: $robotoC;

    b {
      color: #0094ff;
    }
  }

  &__foot {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }

  &__btn {

    @include em((
      width: 220px,
      margin: 0 10px
    ), 18px);
  }

  &_win {
    background-image: url(#{$imgDir}/modal/bg2.png);
    font-family: $robotoC;
  }

  &__win {

    &-title {
      margin: 0;
      font-size: em(46px, $mfs);
      color: #000;

      @include em((

      ), 46px);
    }

    &-txt {
      font-size: em(26px, $mfs);
      color: #000;
      font-weight: 400;
      margin: em(0 0 10px, 26px);
      text-transform: uppercase;

      span {
        font-size: em(46px, 26px);
        display: block;
        color: #197cf6;
        font-weight: 700;
      }
    }
  }

  &_rules {
    background-color: #fff;
    background-image: url(#{$imgDir}modal/rules-bg.png);
    background-size: 100% 100%;
    color: #1e1614;
    font-family: $robotoC;
    text-align: left;
    width: em(820px, $mfs);
    padding: em(40px 40px 65px 70px, $mfs);

    @include dir((
      padding-left: em(70px, $mfs),
      padding-right: em(40px, $mfs)
    ));
  }
}

.ec-rules {
  max-height: 390px;
  overflow: auto;

  @include dir((
    padding-right: em(20px, $mfs)
  ));

  h2 {
    font-size: em(24px, $mfs);
    color: #197cf6;
    text-transform: uppercase;
    text-align: center;
    margin: em(0 0 20px, 24px);
    font-weight: 700;
  }

  h3 {
    font-size: em(20px, $mfs);
    color: #197cf6;
    font-weight: 700;
  }

  ol {
    list-style: none;
    counter-reset: list;

    @include dir((
      padding-left: em(10px, $mfs)
    ));
    line-height: 1.5;

    & > li {
      margin: em(12px 0 0, $mfs);

      &:before {
        content: counter(list)')';
        color: #197cf6;
        font-weight: 700;
        counter-increment: list;
        display: inline-block;

        @include dir((
          margin-right: em(5px, $mfs)
        ))
      }
    }
  }

  ul {
    counter-reset: list2;
    list-style: none;

    @include dir((
      padding-left: em(30px, $mfs)
    ));

    & > li {
      counter-increment: list2;
      margin: em(12px 0 0, $mfs);

      &:before {
        content: counter(list2, lower-alpha)')';
        color: #197cf6;
        font-weight: 700;
        counter-increment: list;
        display: inline-block;

        @include dir((
          margin-right: em(5px, $mfs)
        ))
      }
    }
  }

  &_link {
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    margin-top: em(30px, $mfs);
    font-style: normal;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
}
