.ec {

  &-road {

    &__scale {

      & .ec-road {
        background: none;

        &:before,
        &:after {
          content: '';
          position: absolute;
          background: url(../img/el-camino/road/road-left.png) no-repeat center;
          background-size: cover;

          @include em((
            width: 378px,
            height: 153px,
            top: 115px
          ), $mfs);
        }

        &:before {
          right: 50%;
          margin-right: em(154px, $mfs);
        }

        &:after {
          background-image: url(../img/el-camino/road/road-right.png);
          left: 50%;
          margin-left: em(136px, $mfs);
          top: em(110px, $mfs);
        }
      }
    }
  }

  &-section {

    &_road {

      //  & .ec-scale {
      //   transform: none;
      // }

      & .ec-rock_num1 {
        @include em((
          margin-left: -640px,
          top: -40px
        ), $mfs);
      }

      &.ec-section_move .ec-footer {
        bottom: 0;
      }
    }
  }
}
